<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="customfeed" value="http://133.142.200.35.bc.googleusercontent.com/artifactory/api/nuget/proj-nuget-virtual" />
  </packageSources>
  <packageSourceCredentials>
    <customfeed>
      <add key="Username" value="%Nuget_CustomFeedUserName%" />
      <add key="ClearTextPassword" value="%Nuget_CustomFeedPassword%" />
    </customfeed>
  </packageSourceCredentials>	
</configuration>